@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

.head {
    display: flex;
    justify-content: space-evenly;
    background: orange;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.text-content {
    padding: 5px;
    margin-left: 10px;
    margin-top: -306px; /* Move the div up */
    width: 600px;
    height: 297px;
    display: flex;
    border-radius: 10px;
    background-color: blue;
    color: whitesmoke;
    align-items: center;

}

.photo img {
    margin-top: -10px;
    width: 500px;
    height: 300px;
    border:2px solid black;
    border-radius: 10px;
    margin-left: 700px;
}
.empty{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    border-radius: 10px;
    background-color: orange;
}